//Variables
@background-box: #000;
@color-white: #fff;
@color-yellow: yellow;
@color-orange: #EE570C;
@margin-box: 10px;
@radius-box: 15px;
@image-height-box: 350px;
@fontsize-btn-box: 30px;

@img-width-answer: 300px;
@img-height-answer: 300px;
@img-radius-answer: 10px;


// main
.section#main-content {
	margin-top: 20px;
	margin-bottom: 20px;
}

.quiz-box {
	background: @background-box;
	padding: @margin-box;
	border-radius: @radius-box;
	width: 80%;

	h1, h2 {
		color: @color-white;
		font-family: 'NeutraDisplay-lt';
	}

	h1 {
		font-size: 50px;
	}

	h2 {
		font-size: 30px;
  		font-weight: bold;
  		text-align: center;
	}

	.presentation {
		color: @color-white;
	}

	.start {
		height: @image-height-box;
		background: url(/img/presentation.jpg) no-repeat;
		background-size: inherit;
		background-position: center;
		margin: @margin-box 0; 

		.button-container {
			height: 100%;

			.btn {
				position: absolute;
				bottom: 20px;
				left: 33%;
				font-size: @fontsize-btn-box;
			}
		}
	}

	hr {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.breadcrumb {
		border-radius: 3px;
		width: 100%;
		margin: 0;
		box-shadow: none;
		text-align: left;
		background: transparent;
		color: white;
		font-size: 1.1em;

		a {
			color: @color-white;
		}
	}

	.filter-block {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

.answer-block {

	padding: @margin-box * 2;

	a.answer {
		display: block;

		&:hover {
			img {
				border: solid 3px @color-orange;
				border-radius: @img-radius-answer - 3;
				display: inline-block;
			}
			text-decoration: none;

			h3 {
				color: @color-orange;
			}
		}

		img {
			width: @img-width-answer;
			height: @img-height-answer;
			border-radius: @img-radius-answer;
			margin: 2px;
			display: inline-block;
		}

		h3 {
			font-size: 1.2em;
			color: @color-white;
			padding: 5px 0;
		}
	}
}

#result {
  	.product {
	  float: left;
	  width: 290px;
	  margin-left: 21px
	}
}