
<ul class="breadcrumb">
	<li>
		<a ng-href="#/"><i class="fa fa-2x fa-fw fa-home text-inverse"></i></a>
	</li>
	<li ng-repeat="histo in breadcrumb">
		<a href="{{histo.url}}" ng-if="$last == false">{{histo.answer.label}}</a>
		<span ng-if="$last == true" class="active">{{histo.question.question}}</span>
	</li>        
</ul>