<aside id="aside">
    <div class="limiter">
        <!-- CLUB ZONE -->
        <section>
            <h6>À propos d'Esprit dégustation</h6>
            <blockquote>Bienvenue au Club Esprit Dégustation</blockquote>
            <p>UN ENDROIT PRIVILÉGIÉ ET VIP OÙ VOUS POURREZ RENCONTRER DES CONNAISSEURS ET PROFITER DE NOMBREUX AVANTAGES. SEREZ-VOUS LE PROCHAIN MEMBRE DU CLUB ?</p>
            <a class="link" href="/club/degustations" title="Accédez au club"><span>Accédez au club</span></a>
        </section>
        <!-- //CLUB ZONE -->
        <!-- SOCIAL ZONE -->
        <section>
            <h6>Suivez-nous sur les réseaux sociaux</h6>
            <blockquote>Retrouvez Esprit Dégustation sur Facebook et Youtube</blockquote>
            <ul class="socials">
                <li>
                    <a class="icon-facebook" href="https://www.facebook.com/EspritDegustation"
                    title="Esprit Dégustation sur Facebook" onclick="dataLayer.push({event:'lien-facebook','EventCategory': 'Facebook','EventAction': 'clic-bouton','EventLabel': 'bouton-facebook'});"></a>
                </li>
                <li>
                    <a class="icon-youtube" href="https://www.youtube.com/channel/UCFAKK5uNl0dsuux5OTYw7ug"
                    title="Esprit Dégustation sur Youtube" onclick="dataLayer.push({event:'lien-youtube','EventCategory': 'Youtube','EventAction': 'clic-bouton','EventLabel': 'bouton-youtube'});"></a>
                </li>
            </ul>
        </section>
        <!-- //SOCIAL ZONE -->
        <!-- FACEBOOK LIKEBOX ZONE -->
        <section class="desk-only">
            <!-- FACEBOOK CODE HERE -->
            <div class="fb-like-box" data-href="https://www.facebook.com/EspritDegustation"
            data-colorscheme="light" data-width="350" data-show-faces="true" data-header="false"
            data-stream="false" data-show-border="true"></div>
        </section>
        <!-- //FACEBOOK LIKEBOX ZONE -->
    </div>
</aside>

<!-- FOOTER ZONE -->
<footer id="footer">
    <!-- SITEMAP ZONE -->
    <div class="sitemap desk-only">
        <ul class="limiter">
            <li>
                <span class="title">Les dégustations</span>
                <ul>
                    <li>
                        <a href="/degustations/nouvelle-degustation-the-balvenie" title="Nouvelle dégustation The Balvenie / 15.10.2014">Nouvelle dégustation The Balvenie<br>
                            <em>mercredi 15 octobre 2014</em>
                        </a>
                    </li>
                    <li>
                        <a href="/degustations/a-la-decouverte-dun-whiskey-new-yorkais-hudson"
                        title="A la découverte du whiskey New Yorkais - Hudson / 04.08.2014">A la découverte du whiskey New Yorkais - Hudson<br>
                        <em>lundi 4 août 2014</em>
                    </a>
                </li>
                <li>
                    <a href="/degustations/la-mauny-test" title="La mauny et Trois Rivières: de vieux rhums à déguster aux beaux jours / 24.06.2014">La mauny et Trois Rivières: de vieux rhums à déguster aux beaux jours<br>
                        <em>mardi 24 juin 2014</em>
                    </a>
                </li>
                <li>
                    <a href="/degustations/grant-s-ouvre-les-portes-de-l-atelier-blendologie-by-grant-s"
                    title="Grant’s ouvre les portes de l’Atelier Blendologie by Grant’s / 30.05.2014">Grant’s ouvre les portes de l’Atelier Blendologie by Grant’s<br>
                    <em>vendredi 30 mai 2014</em>
                </a>
            </li>
            <li>
                <a href="/degustations/mount-gay-a-la-decouverte-du-rhum-black-barrel"
                title="Mount Gay: A la découverte du rhum Black Barrel / 20.05.2014">Mount Gay: A la découverte du rhum Black Barrel<br>
                <em>mardi 20 mai 2014</em>
            </a>
        </li>
    </ul>
</li>
<li>
    <span class="title">Les vidéos</span>
    <ul>
        <li>
            <a href="/degustations/videos#degustation-video-2">TOUR DE FRANCE DES CAVISTES</a>
        </li>
        <li>
            <a href="/degustations/videos#degustation-video-1">UNE HISTOIRE, DES ARÔMES</a>
        </li>
        <li>
            <a href="/degustations/videos#degustation-video-3">AUTRES VIDEOS</a>
        </li>
    </ul>
</li>
<li>
    <span class="title">Nos spiritueux</span>
    <ul>
        <li>
            <a href="/spirit/whisky" title="Whisky">Whisky</a>
        </li>
        <li>
            <a href="/spirit/champagne" title="Champagne">Champagne</a>
        </li>
        <li>
            <a href="/spirit/vodka" title="Vodka">Vodka</a>
        </li>
        <li>
            <a href="/spirit/gin" title="Gin">Gin</a>
        </li>
        <li>
            <a href="/spirit/armagnac" title="Armagnac">Armagnac</a>
        </li>
        <li>
            <a href="/spirit/cognac" title="Cognac">Cognac</a>
        </li>
        <li>
            <a href="/spirit/rhum" title="Rhum">Rhum</a>
        </li>
        <li>
            <a href="/spirit/tequila" title="Tequila">Tequila</a>
        </li>
    </ul>
</li>
<li>
    <span class="title">Nos marques</span>
    <ul>
        <li>
            <a href="/brand/the-balvenie" title="THE BALVENIE">THE BALVENIE</a>
        </li>
        <li>
            <a href="/brand/monkey-shoulder" title="MONKEY SHOULDER">MONKEY SHOULDER</a>
        </li>
        <li>
            <a href="/brand/glenfiddich" title="GLENFIDDICH">GLENFIDDICH</a>
        </li>
        <li>
            <a href="/brand/grant-s" title="GRANT'S">GRANT'S</a>
        </li>
        <li>
            <a href="/brand/tullamore-dew" title="TULLAMORE DEW">TULLAMORE DEW</a>
        </li>
        <li>
            <a href="/brand/hudson" title="HUDSON">HUDSON</a>
        </li>
        <li>
            <a href="/brand/the-famous-grouse" title="THE FAMOUS GROUSE">THE FAMOUS GROUSE</a>
        </li>
        <li>
            <a href="/brand/bruichladdich" title="BRUICHLADDICH">BRUICHLADDICH</a>
        </li>
        <li>
            <a href="/brand/piper-heidsieck" title="PIPER-HEIDSIECK">PIPER-HEIDSIECK</a>
        </li>
        <li>
            <a href="/brand/la-mauny" title="LA MAUNY">LA MAUNY</a>
        </li>
        <li>
            <a href="/brand/russian-standard-vodka" title="RUSSIAN STANDARD VODKA">RUSSIAN STANDARD VODKA</a>
        </li>
        <li>
            <a href="/brand/zubrowka" title="ZUBROWKA">ZUBROWKA</a>
        </li>
        <li>
            <a href="/brand/hendrick-s" title="HENDRICK’S">HENDRICK’S</a>
        </li>
        <li>
            <a href="/brand/cles-des-ducs" title="CLÉS DES DUCS">CLÉS DES DUCS</a>
        </li>
        <li>
            <a href="/brand/trois-rivieres" title="TROIS RIVIERES">TROIS RIVIERES</a>
        </li>
        <li>
            <a href="/brand/mount-gay" title="MOUNT GAY">MOUNT GAY</a>
        </li>
        <li>
            <a href="/brand/remy-martin" title="RÉMY MARTIN">RÉMY MARTIN</a>
        </li>
        <li>
            <a href="/brand/jose-cuervo" title="JOSE CUERVO">JOSE CUERVO</a>
        </li>
        <li>
            <a href="/brand/louis-xiii" title="LOUIS XIII">LOUIS XIII</a>
        </li>
    </ul>
</li>
</ul>
</div>
<!-- //SITEMAP ZONE -->
<div class="satellite">
    <ul>
        <li>
            <a href="/mentions-legales" title="Mentions légales">Mentions légales</a>
        </li>
        <li>
            <a href="/credits" title="Crédits">Crédits</a>
        </li>
        <li>
            <a href="mailto:espritdegustation@lixir.fr" title="Contact">Contact</a>
        </li>
        <li>
            <a href="/plan-du-site" title="Plan du site">Plan du site</a>
        </li>
    </ul>
    <em>L'abus d'alcool est dangereux pour la santé, à consommer avec modération
        <img
        src="http://www.esprit-degustation.fr/bundles/lixircore/img/Logo-Triman-seul11.jpg"
        style="width:20px;height:19px;vertical-align:middle;margin-left:8px;">
    </em>
</div>
</footer>