<!-- HEADER ZONE -->
<header id="header">
    <div id="mobile-header">
        <a id="responsive-menu-button" href="#sidr-main" onclick="return false;"><img src="http://www.esprit-degustation.fr/bundles/lixircore/img/btns/menu_mobile_btn.jpg"></a>
    </div>
    <div class="limiter">
        <div class="header-auth">
            <div class="wrapper auth-links connected">Bonjour
                <a href="/club/profile" title="mes infos"><b>damien</b></a>
                <span>|</span>
                <a href="/club/logout">Déconnexion</a>
            </div>
        </div>
        <span class="logo">
            <a class="home" href="/" title="Esprit Dégustation">Esprit dégustation</a>
        </span>
        <span class="main-share desk-only">
            <span>Partager</span>
            <a class="icon-youtube" href="https://www.youtube.com/channel/UCFAKK5uNl0dsuux5OTYw7ug"
            target="_blank" title="Esprit Dégustation sur Youtube"></a>
            <a class="icon-facebook" href="https://www.facebook.com/EspritDegustation"
            target="_blank" title="Esprit Dégustation sur Facebook"></a>
        </span>
    </div>
</header>
<!-- //HEADER ZONE -->
<!-- NAVIGATION ZONE -->
<nav id="main-nav">
    <ul class="limiter">
        <li id="spirits-submenu">
            <a href="javascript:;" title="Les spiritueux"><span>Spiritueux</span></a>
            <ul class="first-level-list">
                <li class="first-level-list-item">
                    <ul class="second-level-list">
                        <li class="second-level-list-item">
                            <a class="spirit-name" href="/spirit/whisky" title="Whisky" style="background-image: url(http://www.esprit-degustation.fr/uploads/5320a49032931.png?1428477452);">Whisky</a>
                            <ul class="third-level-list">
                                <li class="third-level-list-item">
                                    <a class="brand-name" href="/brand/monkey-shoulder" title="MONKEY SHOULDER">MONKEY SHOULDER</a>
                                </li>
                                <li class="third-level-list-item">
                                    <a class="brand-name" href="/brand/the-balvenie" title="THE BALVENIE">THE BALVENIE</a>
                                </li>
                                <li class="third-level-list-item">
                                    <a class="brand-name" href="/brand/glenfiddich" title="GLENFIDDICH">GLENFIDDICH</a>
                                </li>
                                <li class="third-level-list-item">
                                    <a class="brand-name" href="/brand/grant-s" title="GRANT'S">GRANT'S</a>
                                </li>
                                <li class="third-level-list-item">
                                    <a class="brand-name" href="/brand/tullamore-dew" title="TULLAMORE DEW">TULLAMORE DEW</a>
                                </li>
                                <li class="third-level-list-item">
                                    <a class="brand-name" href="/brand/hudson" title="HUDSON">HUDSON</a>
                                </li>
                                <li class="third-level-list-item">
                                    <a class="brand-name" href="/brand/the-famous-grouse" title="THE FAMOUS GROUSE">THE FAMOUS GROUSE</a>
                                </li>
                                <li class="third-level-list-item">
                                    <a class="brand-name" href="/brand/bruichladdich" title="BRUICHLADDICH">BRUICHLADDICH</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="first-level-list-item">
                    <ul class="second-level-list">
                        <li class="second-level-list-item">
                            <a class="spirit-name" href="/spirit/rhum" title="Rhum" style="background-image: url(http://www.esprit-degustation.fr/uploads/5320a4d52bbff.png?1428477452);">Rhum</a>
                            <ul class="third-level-list">
                                <li class="third-level-list-item">
                                    <a class="brand-name" href="/brand/la-mauny" title="LA MAUNY">LA MAUNY</a>
                                </li>
                                <li class="third-level-list-item">
                                    <a class="brand-name" href="/brand/trois-rivieres" title="TROIS RIVIERES">TROIS RIVIERES</a>
                                </li>
                                <li class="third-level-list-item">
                                    <a class="brand-name" href="/brand/mount-gay" title="MOUNT GAY">MOUNT GAY</a>
                                </li>
                            </ul>
                        </li>
                        <li class="second-level-list-item">
                            <a class="spirit-name" href="/spirit/vodka" title="Vodka" style="background-image: url(http://www.esprit-degustation.fr/uploads/5320a4a78ba62.png?1428477452);">Vodka</a>
                            <ul class="third-level-list">
                                <li class="third-level-list-item">
                                    <a class="brand-name" href="/brand/russian-standard-vodka" title="RUSSIAN STANDARD VODKA">RUSSIAN STANDARD VODKA</a>
                                </li>
                                <li class="third-level-list-item">
                                    <a class="brand-name" href="/brand/zubrowka" title="ZUBROWKA">ZUBROWKA</a>
                                </li>
                            </ul>
                        </li>
                        <li class="second-level-list-item">
                            <a class="spirit-name" href="/spirit/cognac" title="Cognac" style="background-image: url(http://www.esprit-degustation.fr/uploads/5320a4cb56710.png?1428477452);">Cognac</a>
                            <ul class="third-level-list">
                                <li class="third-level-list-item">
                                    <a class="brand-name" href="/brand/remy-martin" title="RÉMY MARTIN">RÉMY MARTIN</a>
                                </li>
                                <li class="third-level-list-item">
                                    <a class="brand-name" href="/brand/louis-xiii" title="LOUIS XIII">LOUIS XIII</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="first-level-list-item">
                    <ul class="second-level-list">
                        <li class="second-level-list-item">
                            <a class="spirit-name" href="/spirit/champagne" title="Champagne" style="background-image: url(http://www.esprit-degustation.fr/uploads/5320a49b4161d.png?1428477452);">Champagne</a>
                            <ul class="third-level-list">
                                <li class="third-level-list-item">
                                    <a class="brand-name" href="/brand/piper-heidsieck" title="PIPER-HEIDSIECK">
                                        PIPER-HEIDSIECK
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="second-level-list-item">
                            <a class="spirit-name" href="/spirit/gin" title="Gin" style="background-image: url(http://www.esprit-degustation.fr/uploads/5320a4b699989.png?1428477452);">Gin</a>
                            <ul class="third-level-list">
                                <li class="third-level-list-item">
                                    <a class="brand-name" href="/brand/hendrick-s" title="HENDRICK’S">HENDRICK’S</a>
                                </li>
                            </ul>
                        </li>
                        <li class="second-level-list-item">
                            <a class="spirit-name" href="/spirit/armagnac" title="Armagnac" style="background-image: url(http://www.esprit-degustation.fr/uploads/5320a4bf75caf.png?1428477452);">Armagnac</a>
                            <ul class="third-level-list">
                                <li class="third-level-list-item">
                                    <a class="brand-name" href="/brand/cles-des-ducs" title="CLÉS DES DUCS">CLÉS DES DUCS</a>
                                </li>
                            </ul>
                        </li>
                        <li class="second-level-list-item">
                            <a class="spirit-name" href="/spirit/tequila" title="Tequila" style="background-image: url(http://www.esprit-degustation.fr/uploads/5320a4deebeb7.png?1428477452);">Tequila</a>
                            <ul class="third-level-list">
                                <li class="third-level-list-item">
                                    <a class="brand-name" href="/brand/jose-cuervo" title="JOSE CUERVO">JOSE CUERVO</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="/degustations/" title="Dégustations"><span>Dégustations</span></a>
        </li>
        <li>
            <a href="/degustations/videos" title="Videos"><span>Vidéos</span></a>
        </li>
        <li>
            <a href="/actualites/" title="Actualités"><span>Actualités</span></a>
        </li>
        <li>
            <a href="/club/" class="club-item" title="Club"><span>Club</span></a>
        </li>
    </ul>
</nav>