<div class="container quiz-box">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">LAISSEZ V<strong>O</strong>US GUIDER</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 presentation text-center">Faîtes vos choix parmi les notes de dégustation en fonction de vos goûts olfactifs, visuels et gustatifs, puis cliquez sur résultats. Notre outil d’aide au choix vous propose une sélection en accord avec vos envies.
        </div>
    </div>
    <div class="row start">

        <loader
            working="loading"
            disable-background="true"
            message="{{loaderPct}} %"
            template="3">
        </loader>


    	<div class="col-md-4 col-md-offset-4 button-container">
            <button class="btn btn-primary" ng-click="loadData()" ng-disabled="loading">Commencer</button>
        </div>
    </div>
</div>            