<div class="container quiz-box">

    <div class="row filter-block">
        <div class="col-md-4 col-xs-4">
            <ui-select ng-model="curSpiritueux" theme="bootstrap">
                <ui-select-match placeholder="Spiritueux">{{curSpiritueux | uppercase}}</ui-select-match>
                <ui-select-choices repeat="spirit in spiritueux">
                  <span ng-bind-html="spirit">{{spirit | uppercase}}</span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-md-4 col-xs-4">
            <ui-select ng-model="curArome" theme="bootstrap">
                <ui-select-match placeholder="Arômes">{{curArome | uppercase}}</ui-select-match>
                <ui-select-choices repeat="arome in aromes">
                  <span ng-bind-html="arome">{{arome | uppercase}}</span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-md-4 col-xs-4">
            <ui-select ng-model="curPrice" theme="bootstrap">
                <ui-select-match placeholder="Prix">{{curPrice}}</ui-select-match>
                <ui-select-choices repeat="price in prices">
                    <span ng-bind-html="price.value">
                        {{price.content}}
                    </span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ed-breadcrumb></ed-breadcrumb>
        </div>
    </div>
    <!--<hr /> -->

</div>

<div class="container" id="result">
    <div ng-repeat="productwrap in products | product:curSpiritueux:curArome:curPrice" class="product ng-scope" style="width: 276px;">
        <img ng-src="{{productwrap.img}}" height="276" style="width: 50%;">
        <div class="product-presentation">
            <h2 class="title ng-binding">{{productwrap.title}}</h2>
            <span class="desc ng-binding">{{productwrap.small_desc}}</span>
            <div class="more">
                <a class="button" title="{{productwrap.title}}" ng-href="http://www.esprit-degustation.fr{{productwrap.link}}" >
                    En savoir plus
                </a>
            </div>
        </div>
    </div>
</div> 