<div class="container quiz-box">
    <div class="row">
        <div class="col-md-12 text-left">
            <h2>{{current_question.question}}</h2>
        </div>
    </div>
    <div class="row answer-block">
        <div ng-repeat="answer in current_question.answers" ng-class=" (current_question.answers.length ==3) ? 'col-md-4 col-xs-4' : 'col-md-6 col-xs-6'" class="text-center">

            <a class="answer" href="#/answer/{{current_question.id}}/{{answer.id}}">
                <img ng-src="{{answer.img}}" class="img-responsive" />
                <h3>{{answer.label}}</h3>
            </a>
        </div>
    </div>
    <!--<hr /> -->
    <div class="row">
        <div class="col-md-12">
            <ed-breadcrumb></ed-breadcrumb>
        </div>
    </div>
</div>